<app-navbar></app-navbar>
<br>
<div class="container">

    <div class="row">
        <div class="col-xs-2 col-md-5 offset-md-3 ">
            <ol class="list-group list-group-numbered">
                <div *ngFor="let item of list">
                    <br>
                    <div class="card ">
                        <div class="card-body ">
                            <div class="fw-bold">
                                <div style="text-align:center;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                                        <path
                                            d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                                    </svg>
                                    <br>
                                    Compensations {{ item.key }}
                                    <div *ngFor="let r of result  ;let i = index">
                                        <div *ngIf="item.key == r.year">
                                            <br>
                                            Month: {{ r.month }}
                                            <br>
                                            Total: {{ r.count }}
                                            <br>
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                (click)="goToBreakdown(id,r.year,r.month,r.count,startY,startM,endY,endM,r.identifier)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                </svg>
                                                Check Details
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ol>
        </div>
        <div class="container">
            <br>
            <div class="col-md-7 offset-md-4">
                <button type="button" class="btn btn-outline-primary" (click)="goToHome()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd"
                            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                    Home
                </button>
                &nbsp;
                <button type="button" class="btn btn-outline-primary" (click)="goToMonthSelection(id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    Date Selection
                </button>
                <br>
            </div>
        </div>
    </div>
  