<app-navbar></app-navbar>
<br>
<h2>Edit Employee</h2>
<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="OnSubmit()">
        <div *ngFor="let item of response">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="First Name:">Id: </label>
                    <input type="text" readonly="readonly" class="form-control" id="_id" formControlName="_id" />

                    <label for="First Name:">First Name: </label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" />

                    <label for="Middle Name:">Middle Name: </label>
                    <input type="text" class="form-control" id="middleName" formControlName="middleName" />
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-row">
                    <label for="Last Name:">Last Name: </label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" />

                    <label for="birthDate:">birthDate</label>
                    <input type="datetime" class="form-control" id="birthDate" formControlName="birthDate" />


                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-row">
                    <label for="position:">position: </label>
                    <input type="text" class="form-control" id="position" formControlName="position" />

                </div>
            </div>
            <br>
        </div>



        <div class="col-auto">
            <button type="submit" class="btn btn-primary">
                Update
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                </svg>
            </button>
        </div>
    </form>

</div>