<app-navbar></app-navbar>
<br>
<h2>Employee Details</h2>
<div class="container">
    <form [formGroup]="viewForm">
        <div *ngFor="let item of response">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="First Name:">Id: </label>
                    <input type="text" readonly="readonly" class="form-control" id="_id" 
                        formControlName="_id" />
                    <label for="First Name:">First Name: </label>
                    <input type="text" readonly="readonly" class="form-control" id="firstName"
                        formControlName="firstName" />
                    <label for="Middle Name:">Middle Name: </label>
                    <input type="text" readonly="readonly" class="form-control" id="middleName"
                        formControlName="middleName" />
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-row">
                    <label for="Last Name:">Last Name: </label>
                    <input type="text" readonly="readonly" class="form-control" id="lastName"
                        formControlName="lastName" />

                    <label for="birthDate:">birthDate</label>
                    <input type="text" readonly="readonly" class="form-control" id="birthDate"
                        formControlName="birthDate" />
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-row">
                    <label for="position:">position: </label>
                    <input type="text" readonly="readonly" class="form-control" id="position"
                        formControlName="position" />
                </div>
            </div>
            <br>
        </div>
    </form>
</div>