a.navbar-brand{
    font-family: "Helvetica";
    margin-left: 16px;
    color: #41a5f7;
    text-decoration: none;
}
a.navbar-brand:hover {
    color: #72bdfa;
  }
a.nav-link:hover{
    color: rgb(10, 10, 10);
}
a.nav-link{
    color: #8d8c8cbe;
}
